body {
    position: relative;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Manrope, Arial, "Helvetica Neue", Helvetica, "Arial Rub", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
}

ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}