.header {

  display: flex;
  align-items: center;

  width: 100%;
  height: 44px;

  color: #000000;

  padding: 0 70px;

  overflow: hidden;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;

  max-width: 900px;
  margin: 0 30px;
  padding: 0 18px;

  font-weight: bold;
  color: #332929;
}

.header__item a:hover{
  color: rgb(255, 64, 83);
}

.header__userList {
 margin-left: auto;
  display: flex;
  gap: 24px
}

.header__userFace {
  border-radius: 50%;
}

.header__userItem:first-child {
  display: flex;
  justify-content: center;

  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  background-color: #fff;
  width: 44px;
  height: 44px;
}

.header__bell {
  align-self: center;
}

.header__userItem:hover {
  opacity: 0.6;
}
